<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ユーザー登録</title>
<link rel="icon" type="image/png" th:href="@{/Team20icon.png}">	
<link rel="stylesheet" type="text/css" th:href="@{team20/team20_FirstRegister.css}">
</head>
<header>
	<div class="header">
		    <img th:src="@{/Team20logo.png}" width="100">
		</div>
</header>
<body>
	<diV class="content">
	 	<diV class="content2">
			<h2>ユーザー登録</h2>
			<form method="post" th:action="@{/Team20_FirstRegister}" th:object="${registerForm}">
				<a>名前</a>
				<br>
				<input class="textbox" type="text" th:field="*{name}">
				<br>
				<a>社員コード</a>
				<br>
				<input class="textbox" type="text" th:field="*{userid}">
				<br>
				<a>パスワード</a>
				<br>
				<input type="text" class="textbox" th:field="*{password}">
				<br>
				<input class="button" type="submit" name="regist" value="登録">
				<br>
				<input class="button" type="submit" name="back" value="戻る">
			</form>
		</diV>
	</diV>
</body>
<footer>
	<p>なにか</p>
</footer>
</html>