<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.ofg">
<head>
<meta charset="UTF-8">
<title>検索画面</title>
</head>
<body>
<h1>検索</h1>
名前
<input type="text" name="name" size="20" value="名前">
<br><br>

<br><br>
趣味ジャンル
<select name="hobby genle">
	<option value="スポーツ" selected="seleced">スポーツ</option>
	<option value="java">スポーツ</option>
	<option value="vb">スポーツ</option>
	<option value="スポー">スポーツ</option>
	<option value="ス">スポーツ</option>
</select>
<br><br>
趣味
<input type="text" name="hobby" size="20" value="サッカー">
<br><br>
職種
<br>
開発分野<br>
<select name="work1">
	<option value="java">Java</option>
	<option value="python">Python</option>
	<option value="vb">VB</option>
</select>
<br><br>
インフラ分野
<br>
<select name="work2">
	<option value="linux">Linux</option>
	<option value="aws">AWS</option>
	<option value="windows">Windows</option>
	</select>
<br><br>
</body>
</html>
<input type="submit" value="登録" />

