<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>登録</title>
	<link rel="stylesheet" type="text/css" th:href="@{/team20/team20_Register.css}">
	<link rel="icon" type="image/png" th:href="@{/Team20icon.png}">
</head>

<body>
	<header>
		<div class="header">
			<img th:src="@{/Team20logo.png}" width="100" height="50">
			<h1>プロフィール登録</h1>

		</div>
	</header>
	<div class="main">
		<div class="content">
			<h2 class="box">プロフィール登録</h2>
			<div class="content2">
				<form method="post" th:action="@{/Team20_Register_Result}" th:object="${regForm}">

					<h3>氏名</h3>
					<input type="text" class="textbox" th:field="*{name}" size="20">
					<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error"></span>

					<h3>社員コード</h3>
					<input type="text" class="textbox" th:field="*{code}" size="20">
					<span th:if="${#fields.hasErrors('code')}" th:errors="*{code}" class="error"></span>

					<span th:if="${codeError}" th:text="${codeError}" class="error"></span>
					<h3>趣味</h3>

					<table class="ranking-table">
						<thead>
							<tr>
								<th class="rankingbar" colspan="2">１位</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="janru-title">ジャンル</td>
								<td>
									<label><input type="radio" th:field="*{janru}" value="スポーツ">スポーツ</label>
									<label><input type="radio" th:field="*{janru}" value="アウトドア">アウトドア</label>
									<label><input type="radio" th:field="*{janru}" value="インドア">インドア</label>
									<label><input type="radio" th:field="*{janru}" value="クリエイティブ">クリエイティブ</label>
									<label><input type="radio" th:field="*{janru}" value="学び・教養">学び・教養</label>
									<br>
									<label><input type="radio" th:field="*{janru}"
											value="スピリチュアル・リラクゼーション">スピリチュアル・リラクゼーション</label>
									<span th:if="${#fields.hasErrors('janru')}" th:errors="*{janru}"
										class="error"></span>
								</td>
							</tr>
							<tr>
								<td class="hobby-title">趣味</td>
								<td>
									<select th:field="*{hobby}" id="hobby" disabled="disabled">
										<option value="">-- 趣味を選択してください --</option>
										<th:block th:each="h : ${hobbyList}">
											<option th:value="${h.hobbyCd}" th:text="${h.hobby}"
												th:attr="data-val=${h.janru}"></option>
										</th:block>
									</select>
									<span th:if="${#fields.hasErrors('hobby')}" th:errors="*{hobby}"
										class="error"></span>
								</td>
							</tr>
						</tbody>
					</table>

					<table class="ranking-table">
						<thead>
							<tr>
								<th class="rankingbar" colspan="2">２位</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="janru-title">ジャンル</td>
								<td>
									<label><input type="radio" th:field="*{janru2}" value="スポーツ">スポーツ</label>
									<label><input type="radio" th:field="*{janru2}" value="アウトドア">アウトドア</label>
									<label><input type="radio" th:field="*{janru2}" value="インドア">インドア</label>
									<label><input type="radio" th:field="*{janru2}" value="クリエイティブ">クリエイティブ</label>
									<label><input type="radio" th:field="*{janru2}" value="学び・教養">学び・教養</label>
									<br>
									<label><input type="radio" th:field="*{janru2}"
											value="スピリチュアル・リラクゼーション">スピリチュアル・リラクゼーション</label>
									<span th:if="${#fields.hasErrors('janru2')}" th:errors="*{janru2}"
										class="error"></span>
								</td>
							</tr>
							<tr>
								<td class="hobby-title">趣味</td>
								<td>
									<select th:field="*{hobby2}" id="hobby2" disabled="disabled">
										<option value="">-- 趣味を選択してください --</option>
										<th:block th:each="h : ${hobbyList}">
											<option th:value="${h.hobbyCd}" th:text="${h.hobby}"
												th:attr="data-val=${h.janru}"></option>
										</th:block>
									</select>
									<span th:if="${#fields.hasErrors('hobby2')}" th:errors="*{hobby2}"
										class="error"></span>
								</td>
							</tr>
						</tbody>
					</table>

					<table class="ranking-table">
						<thead>
							<tr>
								<th class="rankingbar" colspan="2">３位</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="janru-title">ジャンル</td>
								<td>
									<label><input type="radio" th:field="*{janru3}" value="スポーツ">スポーツ</label>
									<label><input type="radio" th:field="*{janru3}" value="アウトドア">アウトドア</label>
									<label><input type="radio" th:field="*{janru3}" value="インドア">インドア</label>
									<label><input type="radio" th:field="*{janru3}" value="クリエイティブ">クリエイティブ</label>
									<label><input type="radio" th:field="*{janru3}" value="学び・教養">学び・教養</label>
									<br>
									<label><input type="radio" th:field="*{janru3}"
											value="スピリチュアル・リラクゼーション">スピリチュアル・リラクゼーション</label>
									<span th:if="${#fields.hasErrors('janru3')}" th:errors="*{janru3}"
										class="error"></span>
								</td>
							</tr>
							<tr>
								<td class="hobby-title">趣味</td>
								<td>
									<select th:field="*{hobby3}" id="hobby3" disabled="disabled">
										<option value="">-- 趣味を選択してください --</option>
										<th:block th:each="h : ${hobbyList}">
											<option th:value="${h.hobbyCd}" th:text="${h.hobby}"
												th:attr="data-val=${h.janru}"></option>
										</th:block>
									</select>
									<span th:if="${#fields.hasErrors('hobby3')}" th:errors="*{hobby3}"
										class="error"></span>
								</td>
							</tr>
						</tbody>
					</table>

					<h3>興味のあるIT分野を選択してください</h3>
					<select class="itbunya" th:field="*{job}">
						<optgroup label="開発">
							<option value="Java">Java</option>
							<option value="Oracle">Oracle</option>
							<option value="Python">Python</option>
							<option value="JavaScript">JavaScript</option>
							<option value="HTML">HTML</option>
						</optgroup>
						<optgroup label="インフラ">
							<option value="Linux">Linux</option>
							<option value="AWS">AWS</option>
							<option value="anaconda">anaconda</option>
							<option value="Terraform">Terraform</option>
							<option value="Shell Script">Shell Script</option>
						</optgroup>
					</select>
					<span th:if="${#fields.hasErrors('job')}" th:errors="*{job}" class="error"></span>

					<h3>自己紹介</h3>
					<textarea th:field="*{intro}" rows="10" placeholder="自己紹介を入力してください"></textarea>
					<span th:if="${#fields.hasErrors('intro')}" th:errors="*{intro}" class="error"></span>

					<div class="botton-container">
						<input class="button" type="submit" value="登録する" name="register">
						<input class="button" type="submit" value="編集する" name="edit">
						<input class="button" type="submit" value="メニューに戻る" name="back">
					</div>
				</form>
			</div>
		</div>
	</div>

	<footer>
		<p>&copy; 2026 B-IT Inc. All rights reserved.</p>
	</footer>

	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script th:inline="javascript">
		$(document).ready(function () {
			function setupHobbyFilter(janruName, hobbyId) {
				var $hobby = $(hobbyId);

				$hobby.find('option').each(function () {
					var val2 = $(this).data('val');
					if (val2 !== undefined) {
						$(this).hide().prop('disabled', true);
					}
				});


				var currentJanru = $('input[name="' + janruName + '"]:checked').val();
				if (currentJanru) {
					$hobby.prop('disabled', false);
					$hobby.find('option').each(function () {
						var val2 = $(this).data('val');
						if (val2 === undefined) return;
						if (currentJanru == val2) {
							$(this).show().prop('disabled', false);
						} else {
							$(this).hide().prop('disabled', true);
						}
					});
				}

				$('input[name="' + janruName + '"]').change(function () {
					var val1 = $(this).val();
					$hobby.val('');
					$hobby.prop('disabled', val1 === "");

					$hobby.find('option').each(function () {
						var val2 = $(this).data('val');
						if (val2 === undefined) return;

						if (val1 == val2) {
							$(this).show().prop('disabled', false);
						} else {
							$(this).hide().prop('disabled', true);
						}
					});
				});
			}

			setupHobbyFilter('janru', '#hobby');
			setupHobbyFilter('janru2', '#hobby2');
			setupHobbyFilter('janru3', '#hobby3');

			$('form').submit(function () {
				$('#hobby, #hobby2, #hobby3').prop('disabled', false);
			});
		});
	</script>
</body>


</html>