<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.ofg">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="Ensyu6.css">
</head>
<div class="content">
	<h2>ログイン</h2>
	<form method="post" th:action="@{/login}">
		<p>名前</p>
		<input type="text" name="shainCd" >
		<p>パスワード</p>
		<input type="password" name="loginPass">
		<br>
		<input type="submit" name="login" value="ログイン"><br>
		<input type="submit" name="regist" value="初回登録はこちら">
	</form>
</div>
</html>