<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<!--<html xmlns:th="https://www.thymeleaf.ofg">-->


<head>
	<meta charset="UTF-8">
	<title>登録画面</title>
	<link rel="stylesheet" type="text/css" th:href="@{/team20/team20_Register.css}">
	<link rel="icon" type="image/png" th:href="@{/Team20icon.png}">
</head>


<body>

	<div class="header">
		<!-- ✅ 左端に画像 -->
		<img th:src="@{/Team20logo.png}" width="100" height="50">
		<h1>プロフィール登録画面</h1>
	</div>


	<div class="content">
		<div class="content2">
			<form method="post" th:action="@{/Team20_Register_Result}" th:object="${regForm}">



					<h3>氏名</h3>
					<input type="text" class="textbox" th:field="*{name}" size="20" value="氏名" />
					<h3>社員コード</h3>
					<input type="text" class="textbox" th:field="*{code}" size="20" value="code" />
					<h3>趣味</h3>
					<table border="1">
						<tr>
							<td class="rankingbar">
								<th:text class="rank1">１位</th:text>
							</td>
						</tr>
						<tr>
							<td>
								<th:text class="janru">ジャンル</th:text>
							</td>
						</tr>
						<tr>
							<td>
								<input type="radio" th:field="*{janru}" value="スポーツ" selected="selected">スポーツ
								<input type="radio" th:field="*{janru}" value="アウトドア">アウトドア
								<input type="radio" th:field="*{janru}" value="インドア">インドア
								<input type="radio" th:field="*{janru}" value="クリエイティブ">クリエイティブ
								<input type="radio" th:field="*{janru}" value="学び・教養">学び・教養
								<br>
								<input type="radio" th:field="*{janru}" value="スピリチュアル・リラクゼーション">スピリチュアル・リラクゼーション
							</td>
						</tr>
						<tr>
							<td>
								<th:text class="hobby">趣味</th:text>
							</td>
						</tr>
						<tr>
							<td>
								<select th:field="*{hobby}" id="hobby" disabled="disabled">
									<option value="">-- 趣味を選択してください --</option>
									<!-- ✅ DBから取得したhobbyListをループ・手書きoptionは全削除 -->
									<th:block th:each="h : ${hobbyList}">
										<option th:value="${h.hobbyCd}" th:text="${h.hobby}"
											th:attr="data-val=${h.janru}">
										</option>
									</th:block>
								</select>

								<script src="https://code.jquery.com/jquery-3.6.0.min.js">
								</script>
								<script th:inline="javascript">
									$(document).ready(function () {
										var $hobby = $('#hobby'); // 2位はhobby2、3位はhobby3

										// 初期状態：全option非表示
										$hobby.find('option').each(function () {
											var val2 = $(this).data('val');
											if (val2 !== undefined) {
												$(this).hide().prop('disabled', true);
											}
										});

										// ジャンル選択時
										$('input[name="janru"]').change(function () { // 2位はjanru2、3位はjanru3
											var val1 = $(this).val();
											$hobby.val('');
											$hobby.prop('disabled', val1 === "");

											$hobby.find('option').each(function () {
												var val2 = $(this).data('val');
												if (val2 === undefined) return;

												if (val1 == val2) {
													$(this).show().prop('disabled', false);
												} else {
													$(this).hide().prop('disabled', true);
												}
											});
										});
									});
									// formの送信直前にdisabledを全解除
									$('form').submit(function () {
										$('#hobby, #hobby2, #hobby3').prop('disabled', false);
									});
									//											
								</script>
							</td>
						</tr>
					</table>
					<br><br>
					<table border="1">
						<tr>
							<td class="rankingbar">
								<th:text class="rank2">２位</th:text>
							</td>
						</tr>
						<tr>
							<td>
								<th:text class="janru">ジャンル</th:text>
							</td>
						</tr>
						<tr>
							<td>
								<input type="radio" th:field="*{janru2}" value="スポーツ">スポーツ
								<input type="radio" th:field="*{janru2}" value="アウトドア" checked="checked">アウトドア
								<input type="radio" th:field="*{janru2}" value="インドア">インドア
								<input type="radio" th:field="*{janru2}" value="クリエイティブ">クリエイティブ
								<input type="radio" th:field="*{janru2}" value="学び・教養">学び・教養
								<br>
								<input type="radio" th:field="*{janru2}" value="スピリチュアル・リラクゼーション">スピリチュアル・リラクゼーション
							</td>
						</tr>
						<tr>
							<td>
								<th:text class="hobby">趣味</th:text>
							</td>
						</tr>
						<tr>
							<td>
								<!-- 2位 -->
								<select th:field="*{hobby2}" id="hobby2" disabled="disabled">
									<option value="">-- 趣味を選択してください --</option>
									<th:block th:each="h : ${hobbyList}">
										<option th:value="${h.hobbyCd}" th:text="${h.hobby}"
											th:attr="data-val=${h.janru}">
										</option>
									</th:block>
								</select>

								<script src="https://code.jquery.com/jquery-3.6.0.min.js">
								</script>
								<script th:inline="javascript">
									$(document).ready(function () {
										var $hobby = $('#hobby2');
										//								var $janru = $('#janru');
										$hobby.find('option').each(function () {
											var val2 = $(this).data('val');

											if (val2 !== undefined) {
												$(this).hide().prop('disabled', true);
											}
										});
										$('input[name="janru2"]').change(function () {
											var val1 = $(this).val();
											$hobby.val('');
											if (val1 === "") {
												$hobby.prop('disabled', true);
											} else {
												$hobby.prop('disabled', false);
											}
											$hobby.find('option').each(function () {
												var val2 = $(this).data('val');
												if (val2 === undefined) {
													return;
												}
												if (val1 == val2) {
													$(this).show().prop('disabled', false);
												} else {
													$(this).hide().prop('disabled', true);
												}
											})
										})
									})
								</script>
							</td>
						</tr>
					</table>
					<br><br>

					<table border="1">
						<tr>
							<td class="rankingbar">
								<th:text class="rank3">３位</th:text>
							</td>
						</tr>
						<tr>
							<td>
								<th:text class="janru">ジャンル</th:text>
							</td>
						</tr>
						<tr>
							<td>
								<input type="radio" th:field="*{janru3}" value="スポーツ">スポーツ
								<input type="radio" th:field="*{janru3}" value="アウトドア">アウトドア
								<input type="radio" th:field="*{janru3}" value="インドア" checked="checked">インドア
								<input type="radio" th:field="*{janru3}" value="クリエイティブ">クリエイティブ
								<input type="radio" th:field="*{janru3}" value="学び・教養">学び・教養
								<br>
								<input type="radio" th:field="*{janru3}" value="スピリチュアル・リラクゼーション">スピリチュアル・リラクゼーション
							</td>
						</tr>
						<tr>
							<td>
								<th:text class="hobby">趣味</th:text>
							</td>
						</tr>
						<tr>
							<td>
								<!-- 3位 -->
								<select th:field="*{hobby3}" id="hobby3" disabled="disabled">
									<option value="">-- 趣味を選択してください --</option>
									<th:block th:each="h : ${hobbyList}">
										<option th:value="${h.hobbyCd}" th:text="${h.hobby}"
											th:attr="data-val=${h.janru}">
										</option>
									</th:block>
								</select>

								<script src="https://code.jquery.com/jquery-3.6.0.min.js">
								</script>
								<script th:inline="javascript">
									$(document).ready(function () {
										var $hobby = $('#hobby3');
										//								var $janru = $('#janru');
										$hobby.find('option').each(function () {
											var val2 = $(this).data('val');

											if (val2 !== undefined) {
												$(this).hide().prop('disabled', true);
											}
										});
										$('input[name="janru3"]').change(function () {
											var val1 = $(this).val();
											$hobby.val('');
											if (val1 === "") {
												$hobby.prop('disabled', true);
											} else {
												$hobby.prop('disabled', false);
											}
											$hobby.find('option').each(function () {
												var val2 = $(this).data('val');
												if (val2 === undefined) {
													return;
												}
												if (val1 == val2) {
													$(this).show().prop('disabled', false);
												} else {
													$(this).hide().prop('disabled', true);
												}
											})
										})
									})
								</script>
								
							</td>
						</tr>
					</table>
					<br><br>
				</th:block>
				<!--		分野ごとに決められるようにする-->
				<h3>興味のあるIT分野を選択してください</h3>


				<select class="itbunya" th:field="*{job}" title="開発">
					<optgroup label="開発">
						<option value="Java">Java</option>
						<option value="Oracle">Oracle</option>
						<option value="Python">Python</option>
						<option value="Javasclipt">Javasclipt</option>
						<option value="HTML">HTML</option>
					</optgroup>
					<optgroup label="インフラ">
						<option value="Linux">Linux</option>
						<option value="AWS">AWS</option>
						<option value="anaconda">anaconda</option>
						<option value="Terrform">Terrform</option>
						<option value="Shell Script">Shell Script</option>
					</optgroup>
				</select>
				<br>


				<h3>自己紹介</h3>
				<textarea th:field="*{intro}" rows="10" placeholder="自己紹介を入力してください">この中に入力</textarea>
				<div class="footer">

					<input class="button" type="submit" value="登録する" name="register" />
					<!--		編集ボタン-->
					<input class="button" type="submit" value="編集する" name="edit" />
<!--					メニュー遷移ボタン-->
					<input class="button" type="submit" value="メニュー画面へ戻る" name="back" />
				</div>
			</form>

		</div>
	</div>
</body>

</html>