<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>ログイン</title>
	<link rel="icon" type="image/png" th:href="@{/team20/Team20icon.png}">	
	<link rel="stylesheet" type="text/css" th:href="@{/team20/team20_Login.css}">
</head>
<header>
	<div class="header">
		    <img th:src="@{/team20/Team20logo.png}" width="100">
		</div>
</header>
<body>
	<div class="main">
		<diV class="content">
			 <diV class="content2">
				<h2 class="box">ログイン</h2>
				<form method="post" th:action="@{/Team20_Login}" th:object="${loginForm}">
					<p>
						<a>社員番号</a>
						<th:block class="error" th:if="${#fields.hasErrors('userid')}" th:errors="*{userid}"></th:block>
					</p>
					<input class="textbox" type="text" th:field="*{userid}">
					<p>
						<a>パスワード</a>
						<th:block class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></th:block>
					</p>			
					<input class="textbox" type="password" th:field="*{password}">
					<input class="button" type="submit" name="login" value="ログイン">
					<input class="button" type="submit" name="regist" value="初回登録はこちら">
					</form>
			</diV>
		</diV>
	</div>
</body>
<footer>
	<p>&copy; 2026 B-IT Inc. All rights reserved.</p>
</footer>
</html>