<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ユーザー登録</title>
<link rel="icon" type="image/png" th:href="@{team20/Team20icon.png}">	
<link rel="stylesheet" type="text/css" th:href="@{team20/team20_FirstResult.css}">
</head>
<header>
	<div class="header">
		    <img th:src="@{/team20/team20logo.png}" width="100">
		</div>
</header>
<body>
	<diV class="content">
	 	<diV class="content2">
			<h2 class="box">ユーザー登録</h2>
			<form method="post" th:action="@{/Team20_FirstResult}" th:object="${registerForm}">
				<h4>以下の内容でお間違いないでしょうか。</h4>
				<a class="aaa">名前</a>
				<br>
				<th:block class="text" th:text="*{name} + 様"></th:block>
				<br>
				<a class="aaa">社員番号</a>
				<br>
				<th:block class="text" th:text="*{userid}"></th:block>
				<br>
				<a class="aaa">パスワード</a>
				<br>
				<th:block class="text" th:text="*{password}"></th:block>
				<br>
				<input class="button" type="submit" name="regist" value="確定">
				<br>
				<input class="button" type="submit" name="back" value="戻る">
			</form>
		</diV>
	</diV>
</body>
<footer>
	<p>&copy; 2026 B-IT Inc. All rights reserved.</p>
</footer>
</html>