<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>メニュー</title>
<link rel="stylesheet" type="text/css" th:href="@{team20/team20_Menyu.css}">
<link rel="icon" type="image/png" th:href="@{/Team20icon.png}">	
</head>
<header>
	<div class="header">
	    <img th:src="@{/Team20logo.png}" width="100">
	</div>
</header>
<body>
	<div class="main">
		<diV class="content">
			 <diV class="content2">
				<form  method="post" th:action="@{/Team20_Menyu}">
					<h1 class="box" th:text="${name} + 様"></h1>
					<p>B-ITへようこそ。</p>
					<div class="bt-container">
						<input type ="submit" name="register" value="プロフィール登録" class="button" />
						<input type ="submit" name="search" value="社員検索" class="button"/>
						<input type ="submit" name="result" value="結果表示" class="button"/>	
					</div>
				</form>
			 </diV>
		</diV>
	</div>
</body>
<footer>
	<p>&copy; 2026 B-IT Inc. All rights reserved.</p>
</footer>
</html>