<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.ofg">
<!--<html xmlns:th="https://www.thymeleaf.ofg">-->


<head>
	<meta charset="UTF-8">
	<title>登録画面</title>
</head>

<body>
	<h1 id="register">プロフィール登録画面</h1>
	<form method="post" th:action="@{/Team20_register_result}" th:object="${regForm}">


		<th:block>
			<h2>氏名</h2>
			<input type="text" th:field="*{name}" size="20" value="氏名" />
			<h2>趣味</h2>
			<table border="1">
				<tr>
					<td>
						<th:text class="rank1">１位</th:text>
					</td>
				</tr>
				<tr>
					<td>
						<th:text class="janru">ジャンル</th:text>
					</td>
				</tr>
				<tr>
					<td>
						<input type="radio" th:field="*{janru}" value="スポーツ" checked="checked">スポーツ
						<input type="radio" th:field="*{janru}" value="アウトドア">アウトドア
						<input type="radio" th:field="*{janru}" value="インドア">インドア
						<input type="radio" th:field="*{janru}" value="クリエイティブ">クリエイティブ
						<input type="radio" th:field="*{janru}" value="学び・教養">学び・教養
						<br>
						<input type="radio" th:field="*{janru}" value="スピリチュアル・リラクゼーション">スピリチュアル・リラクゼーション
					</td>
				</tr>
				<tr>
					<td>
						<select th:field="*{hobby}">
							<option value="サッカー">サッカー</option>
							<option>野球</option>
							<option>バスケ</option>
							<option>バレーボール</option>
							<option>卓球</option>
						</select>
					</td>
				</tr>
			</table>
			<br><br>
			<table border="1">
				<tr>
					<td>
						<th:text class="rank2">２位</th:text>
					</td>
				</tr>
				<tr>
					<td>
						<th:text class="janru">ジャンル</th:text>
					</td>
				</tr>
				<tr>
					<td>
						<input type="radio" th:field="*{janru2}" value="スポーツ">スポーツ
						<input type="radio" th:field="*{janru2}" value="アウトドア" checked="checked">アウトドア
						<input type="radio" th:field="*{janru2}" value="インドア">インドア
						<input type="radio" th:field="*{janru2}" value="クリエイティブ">クリエイティブ
						<input type="radio" th:field="*{janru2}" value="学び・教養">学び・教養
						<br>
						<input type="radio" th:field="*{janru2}" value="スピリチュアル・リラクゼーション">スピリチュアル・リラクゼーション
					</td>
				</tr>
				<tr>
					<td>
						<select th:field="*{hobby2}">
							<option value="キャンプ">キャンプ</option>
							<option>ドライブ</option>
							<option>釣り</option>
							<option>サーフィン</option>
							<option>パラセーリング</option>
						</select>
					</td>
				</tr>
			</table>
			<br><br>

			<table border="1">
				<tr>
					<td>
						<th:text class="rank3">３位</th:text>
					</td>
				</tr>
				<tr>
					<td>
						<th:text class="janru">ジャンル</th:text>
					</td>
				</tr>
				<tr>
					<td>
						<input type="radio" th:field="*{janru3}" value="スポーツ">スポーツ
						<input type="radio" th:field="*{janru3}" value="アウトドア">アウトドア
						<input type="radio" th:field="*{janru3}" value="インドア" checked="checked">インドア
						<input type="radio" th:field="*{janru3}" value="クリエイティブ">クリエイティブ
						<input type="radio" th:field="*{janru3}" value="学び・教養">学び・教養
						<br>
						<input type="radio" th:field="*{janru3}" value="スピリチュアル・リラクゼーション">スピリチュアル・リラクゼーション
					</td>
				</tr>
				<tr>
					<td>
						<select th:field="*{hobby3}">
							<option value="ゲーム">ゲーム</option>
							<option>読書</option>
							<option>サブスク</option>
							<option>ピアノ</option>
							<option>映画</option>
						</select>
					</td>
				</tr>
			</table>
			<br><br>
		</th:block>
		<!--		分野ごとに決められるようにする-->
		<h2>IT分野</h2> 分野ごとに決められるようにする
		<h3>開発分野</h3>
		<select th:field="*{info}" title="開発">
			<option value="soccer">Java</option>
			<option value="soccer">Oracle</option>
			<option value="soccer">Python</option>
			<option value="soccer">Javasclipt</option>
			<option value="soccer">HTML</option>
		</select>
		<br>
		<h3>インフラ分野</h3>
		<select th:field="*{info}" title="インフラ">
			<option value="soccer">Linux</option>
			<option value="soccer">AWS</option>
			<option value="soccer">など</option>
			<option value="soccer">Javasclipt</option>
			<option value="soccer">HTML</option>
		</select>

		<h2>自己紹介</h2>
		<textarea th:field="*{intro}" rows="10" cols="100">この中に入力</textarea>
		<!--		編集ボタン-->
		<input type="submit" value="編集" name="edit" />

		<input type="submit" value="登録" name="regit" />
	</form>
</body>

</html>