<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>ユーザー詳細プロフィール</title>
	<link rel="stylesheet" type="text/css" th:href="@{team20/team20_Details.css}">
	<link rel="icon" type="image/png" th:href="@{/Team20icon.png}">
</head>
<header>
	<div class="header">
		    <img th:src="@{/team20/team20logo.png}" width="100">
		</div>
</header>
<body>
	<div class="main">
		<div class="content">
			<h2 class="box">詳細プロフィール</h2>
			<div class="content2">
				<table class="detail-table" th:object="${userData}">
					<thead>
						<tr>
							<th colspan="2" th:text="*{shainNm}"></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="info-title">趣味1位</td>
							<td th:text="*{rank1}"></td>
						</tr>
						<tr>
							<td class="info-title">趣味2位</td>
							<td th:text="*{rank2}"></td>
						</tr>
						<tr>
							<td class="info-title">趣味3位</td>
							<td th:text="*{rank3}"></td>
						</tr>
						<tr>
							<td class="info-title">職種</td>
							<td th:text="*{job}"></td>
						</tr>
						<tr>
							<td class="info-title">自己紹介</td>
							<td>
								<textarea th:text="*{intro}" rows="6" readonly></textarea>
							</td>
						</tr>
					</tbody>
				</table>

				<form method="post" th:action="@{/Team20_Details}" class="botton-container">
					<input class="button" type="submit" value="結果一覧に戻る">
				</form>
			</div>
		</div>
	</div>
</body>
<footer>
	<p>&copy; 2026 B-IT Inc. All rights reserved.</p>
</footer>
</html>