<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.ofg">

<head>
	<meta charset="UTF-8">
	<title>検索画面</title>
	<link rel="stylesheet" type="text/css" th:href="@{team20/team20_Search.css}">
</head>
<header>
	<th:src=logo.png alt="サイトのロゴ">
</header>
<body>
	<h1 id="search">検索</h1>
	<form method="post" th:action="@{/search}" th:object="${regForm}">
		<table border="1" class="detail">

			<tr>
				<th>項目名</th>
				<th>入力欄</th>
			</tr>
			<tr>
				<td>名前</td>
				<td><input type="text" th:field="*{name}" size="20" value="名前"></td>
			</tr>
			<tr>
				<td>ジャンル</td>
				<td> <input type="radio" th:field="*{janru}" value="スポーツ">スポーツ
					<input type="radio" th:field="*{janru}" value="アウトドア">アウトドア
					<input type="radio" th:field="*{janru}" value="インドア">インドア
					<input type="radio" th:field="*{janru}" value="クリエイティブ">クリエイティブ
					<input type="radio" th:field="*{janru}" value="学び・教養">学び・教養
					<input type="radio" th:field="*{janru}" value="スピリチュアル・リラクゼーション">スピリチュアル・リラクゼーション
				</td>
			</tr>
			<tr>
				<td>趣味</td>
				<td>
					<select th:field="*{hobby}" id="hobby">
						<option value="">-- 趣味を選択してください --</option>
						<option value="サッカー" data-val="スポーツ">サッカー</option>
						<option value="野球" data-val="スポーツ">野球</option>
						<option value="バスケ" data-val="スポーツ">バスケ</option>
						<option value="バレーボール" data-val="スポーツ">バレーボール</option>
						<option value="卓球" data-val="スポーツ">卓球</option>
						<option value="キャンプ" data-val="アウトドア">キャンプ</option>
						<option value="ドライブ" data-val="アウトドア">ドライブ</option>
						<option value="釣り" data-val="アウトドア">釣り</option>
						<option value="サーフィン" data-val="アウトドア">サーフィン</option>
						<option value="パラセーリング" data-val="アウトドア">パラセーリング</option>
						<option value="ゲーム" data-val="インドア">ゲーム</option>
						<option value="読書" data-val="インドア">読書</option>
						<option value="サブスク" data-val="インドア">サブスク</option>
						<option value="ピアノ" data-val="インドア">ピアノ</option>
						<option value="映画" data-val="インドア">映画</option>

					</select>
					<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
					<script th:inline="javascript">
						$(document).ready(function () {
							var $hobby = $('#hobby');


							$hobby.prop('disabled', false).find('option').show().prop('disabled', false);

							$('input[name="janru"]').change(function () {
								var val1 = $('input[name="janru"]:checked').val();

								$hobby.val('');

								if (val1 === undefined || val1 === "") {
									$hobby.prop('disabled', false);
									$hobby.find('option').show().prop('disabled', false);
									return;
								}


								$hobby.prop('disabled', false);
								$hobby.find('option').each(function () {
									var val2 = $(this).data('val');


									if (val2 === undefined) {
										return;
									}

									if (val1 == val2) {
										$(this).show().prop('disabled', false);
									} else {
										$(this).hide().prop('disabled', true);
									}
								});
							});
						});
					</script>
				</td>
			</tr>
			<tr>
				<td>職種</td>
				<td>
					<select th:field="*{job}">
						<option value="">登録なし</option>
						<optgroup label="開発">
										<option value="Java">Java</option>
										<option value="Oracle">Oracle</option>
										<option value="Python">Python</option>
										<option value="Javasclipt">Javasclipt</option>
										<option value="HTML">HTML</option>
									</optgroup>
									<optgroup label="インフラ">
										<option value="Linux">Linux</option>
										<option value="AWS">AWS</option>
										<option value="anaconda">anaconda</option>
										<option value="Terrform">Terrform</option>
										<option value="Shell Script">Shell Script</option>
									</optgroup>
								</select>
					
				</td>
			</tr>
		</table>
		<input type="submit" name="search" value="検索" />
		<input type="submit" name="back" value="メニューに戻る">

	</form>
</body>

</html>