<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ユーザー登録</title>
<link rel="icon" type="image/png" th:href="@{team20/Team20icon.png}">	
<link rel="stylesheet" type="text/css" th:href="@{team20/team20_FirstRegister.css}">
</head>
<header>
	<div class="header">
		    <img th:src="@{/team20/Team20logo.png}" width="100">
		</div>
</header>
<body>
	<diV class="content">
	 	<diV class="content2">
			<h2 class="box">ユーザー登録</h2>
			<form method="post" th:action="@{/Team20_FirstRegister}" th:object="${registerForm}">
				<p>
					<a>名前</a>
					<th:block class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></th:block>
				</p>
				<input class="textbox" type="text" th:field="*{name}">
				<p>			
					<a>社員番号</a>
					<th:block class="error" th:if="${#fields.hasErrors('userid')}" th:errors="*{userid}"></th:block>
				</p>
				<input class="textbox" type="text" th:field="*{userid}">
				<p>
					<a>パスワード</a>
					<th:block class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></th:block>
				</p>
				<input type="text" class="textbox" th:field="*{password}">
				<br>
				<input class="button" type="submit" name="regist" value="登録">
				<br>
				<input class="button" type="submit" name="back" value="戻る">
			</form>
		</diV>
	</diV>
</body>
<footer>
	<p>&copy; 2026 B-IT Inc. All rights reserved.</p>
</footer>
</html>